
*.joblib
Second Semester/For Present/2024-02-27/.ipynb_checkpoints/2024-02-25 Psat_ML_1output-checkpoint.ipynb
Second Semester/Refactor Code/csv_02-3 std_x_train.csv
Second Semester/Refactor Code/csv_02-5 std_x_test.csv
Second Semester/Refactor Code/csv_02-5 std_x_test.csv
Second Semester/Refactor Code/csv_02-3 std_x_train.csv
/Second Semester/Refactor Code/test_img
/Second Semester/Refactor Code/train_img
